In [1]:
import scipy as sp
import numpy as np
import scipy
import seaborn as sns; sns.set_theme()
from scipy import stats
from matplotlib.pyplot import figure
import pandas as pd
import matplotlib.pyplot as plt
import quandl
import os
import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import acf
from sklearn.model_selection import GridSearchCV, ParameterGrid


from datetime import datetime as dt

from sklearn import linear_model
from datetime import date

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_absolute_percentage_error
import math
from scipy.stats import pearsonr

# calculate bayesian information criterion for a linear regression model
from math import log
from statsmodels.graphics.tsaplots import plot_acf
import sklearn
from sklearn.model_selection import train_test_split
# from sklearn.metrics import classification_report
# from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV, ParameterGrid
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn import tree
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, fbeta_score #To

C:\Users\udomc\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [21]:
df = pd.read_csv('DF20M-train_metadata_PROD.csv')

In [22]:
df

                  image_path  taxonID
0      2862684394-136762.JPG    17215
1      2238502117-320693.JPG    10057
2       2818074328-59948.JPG    20027
3      2238560017-331396.JPG    11069
4        2237970493-5168.JPG    17278
...                      ...      ...
32729  2901951500-218743.JPG    17202
32730  2238549985-179895.JPG    20093
32731   2238365543-13464.JPG    45233
32732  2883271427-366116.JPG    17289
32733  2238556145-181178.JPG    17242

[32734 rows x 2 columns]

In [23]:

my_file = open("map.txt", "r")
  
# reading the file
data = my_file.read()
  
# replacing end splitting the text 
# when newline ('\n') is seen.
data_into_list = data.split("\n")

data_into_list = [int(data_into_list[i]) for i in range(len(data_into_list))]
print(data_into_list)

[10056, 10057, 10059, 10061, 10062, 40128, 69825, 10065, 69795, 10069, 10106, 63524, 10079, 10082, 10083, 10085, 10090, 10111, 10112, 10107, 10108, 10116, 10225, 65830, 10227, 10230, 10232, 10234, 10235, 10242, 10252, 10257, 63478, 10260, 63479, 10266, 10267, 63480, 10273, 11061, 11069, 11083, 11093, 11746, 11760, 11767, 11787, 63482, 67042, 63483, 11797, 11803, 11816, 11759, 11772, 11807, 17178, 17179, 17182, 17190, 17191, 17193, 17195, 17201, 17202, 17205, 17206, 17208, 17210, 17211, 17215, 17218, 17221, 17222, 17225, 17226, 17233, 17234, 17238, 17242, 17244, 17250, 65712, 17256, 17257, 17258, 17266, 17272, 17277, 17278, 17280, 17282, 17283, 17285, 17289, 17290, 17293, 17296, 17302, 17308, 17311, 64062, 45233, 17325, 17326, 19908, 19910, 19911, 19919, 19926, 19928, 19931, 19932, 47597, 19937, 19939, 47602, 19942, 19950, 19951, 19955, 19956, 19957, 47670, 19964, 19966, 19967, 19968, 19970, 19973, 63728, 19983, 19984, 19985, 19991, 19993, 20007, 19996, 19998, 20000, 20002, 20057, 20008, 20009, 20010, 20013, 20019, 20020, 20021, 20024, 20026, 20027, 20032, 20033, 20037, 47667, 20046, 20047, 20051, 20055, 20056, 20058, 20062, 20063, 20064, 20067, 20068, 20069, 20077, 20085, 20089, 20090, 20092, 20093, 20094, 20100, 20101, 20102, 20105, 68669, 40854, 11101]

In [24]:
label = [data_into_list.index(x)+1 for x in  df['taxonID']]

In [27]:
len(label)

32734

In [28]:
df['mapped_label'] = label

In [29]:
df

                  image_path  taxonID  mapped_label
0      2862684394-136762.JPG    17215            71
1      2238502117-320693.JPG    10057             2
2       2818074328-59948.JPG    20027           152
3      2238560017-331396.JPG    11069            41
4        2237970493-5168.JPG    17278            90
...                      ...      ...           ...
32729  2901951500-218743.JPG    17202            65
32730  2238549985-179895.JPG    20093           174
32731   2238365543-13464.JPG    45233           103
32732  2883271427-366116.JPG    17289            95
32733  2238556145-181178.JPG    17242            80

[32734 rows x 3 columns]

In [31]:
# df_dropped = df.drop(['map', 'map_idx'], axis=1)

In [32]:
df_dropped

# df = pd.read_csv("auto_proj_1_icx_2nd.csv")
# print(train['lat'])
df_dropped.to_csv('DF20M_train_mapped.csv', index=None)